.main-card{
    display: flex;
    justify-content: center;
    /* border: 1px solid grey; */
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    width: 30%;
    height: 40%;
    margin-bottom: 1rem;
}

.main-card:hover{
    transform: scale(1.05);
    transition: ease-in-out 0.4s;
    /* transition: ease-out 0.3s; */
}

.card-thumbnail img{
    height: 200px;
    width: 250px;
    background-position:center;
    background-size: cover;
}

.card-category-brand , .card-price-discount-stock{
    display: flex;
    justify-content: space-around;
}

.category-brand , .price-discount{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-brand p , price-discount p{
    margin-left: 1rem;
}

